<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.disney.disneyplus"
    android:versionCode="2000000000"
    android:versionName="1.0-tod-shim">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34" />

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <queries>
        <package android:name="com.beonetv.tod" />
    </queries>

    <application
        android:label="TOD kisayol"
        android:hasCode="true"
        android:allowBackup="false">
        <activity
            android:name="com.bamtechmedia.dominguez.main.MainActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
